@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #14b8a6;
  --color-primary-content: #ffffff;

  --color-bg-start: #0b1220;
  --color-bg-end: #0e1a2f;
  --color-background: #0b1220;

  --color-panel: #111c2d;
  --color-border-ui: #1e293b;

  --color-info: #2563eb;
  --color-warning: #f59e0b;
  --color-danger: #f43f5e;

  --color-text-primary: #e2e8f0;
  --color-text-secondary: #94a3b8;

  --radius-md: 12px;
}

:root,
[data-theme] {
  --p: #14b8a6 !important;
  --pc: #ffffff !important;

  --bg-start: #0b1220 !important;
  --bg-end: #0e1a2f !important;

  --b1: #0b1220 !important;
  --b2: #0e1a2f !important;
  --b3: #111c2d !important;

  --bc: #e2e8f0 !important;
}

:root {
  --color-primary: #14b8a6 !important;
  --color-primary-content: #ffffff !important;
}

.btn-primary {
  background-color: #14b8a6 !important;
  border-color: #14b8a6 !important;
  color: #ffffff !important;
}

.btn-primary:hover {
  background-color: #0d9488 !important;
}

.react-flow__handle {
  background-color: #14b8a6 !important;
}

.react-flow__node {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.react-flow__node.selected {
  box-shadow: none !important;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #334155;
}